body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#titleFavoriteList {
    margin: 10px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.container {
    margin: 1% auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 98%;
    text-align: center;
    justify-content: center;
    
}

.movieBox {
    /* flex: 1 1 400px; */
    max-width: 400px;
    margin: 1%;
    border-radius: 2%;
    padding: 5px;
    background-color: rgba(133, 116, 116, 0.185);
    box-shadow: 1px 1px 20px rgba(82, 75, 75, 0.507);
}

.movieTitle {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px auto;
    font-weight: bold;
    text-overflow: ellipsis;
    color: brown;
}

.movieImage {
    margin: 10px auto 0px auto;
    max-width: 100%;
    display: block;
}

.buttonGroup {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.movieButton {
    padding: 20px;
    width: 50%;
    height: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    transition: 500ms;
    color: aliceblue;
    background-color: rgb(168, 160, 160);
    text-decoration: none;
}

.movieButton:hover{
    color: brown;
    background-color:rgba(189, 185, 185, 0.658);
}

.addMyListButton {
    padding: 20px;
    width: 50%;
    height: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    transition: 500ms;
    color: aliceblue;
    background-color:brown;
    border: none;
}

.addMyListButton:hover {
    color: aliceblue;
    background-color:  rgba(165, 42, 42, 0.76);
    cursor: pointer;
}

.containerErrorFavorite {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerErrorFavorite > h1 {
    font-size: 95px;
    color: brown;
}

.containerErrorFavorite > strong {
    margin-top: 20px;
    font-size: 20px;
    color: brown;
}

.containerErrorFavorite > a {
    color: aliceblue;
    background-color: brown;
    margin-top: 15px;
    padding: 10px 10%;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border: 2px solid aliceblue;
    transition: 500ms;
}

.containerErrorFavorite > a:hover {
    color: aliceblue;
    background-color: rgba(165, 42, 42, 0.74);
}

.loadContainerFavoriteList {
    display: flex;
    width: 100%;
    height: calc(100vh - 60px);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    color: brown;
    font-size: 25px
}

.loaderFavoriteList  {
    height: 100px;
    width: 100px;
    border: 6px solid rgb(161, 165, 168);
    border-top-color: brown;
    border-radius: 50%;
    animation: is-rotating 0.8s infinite;
}

@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
}