header {
    margin: 0px;
    padding: 2%;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: brown;
}

#headerTitle {
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

#buttonSeeLater {
    padding: 8px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(168, 160, 160);
    transition: 500ms;

}

#buttonSeeLater:hover{
    color: rgb(255, 255, 255);
    background-color:rgba(189, 185, 185, 0.658);
}
