body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.detailContainer {
    width: 100%;
    margin: 2% auto;
    display: flex;
}

#movieImage {
    margin: 1% ;
    max-width: 60%;
    display: block;
    flex: 1 1 400px;
    border-radius: 2%;
    padding: 5px;
    background-color: rgba(133, 116, 116, 0.185);
    box-shadow: 1px 1px 20px rgba(82, 75, 75, 0.507);
}

.infoContainer {
    margin: 1% 1% 1% 0 ;
    max-width: 40%;
}

.infoContainer > p {
    margin: 2% 1% 1% 0;
    font-size: 18px;
    text-align:justify;
}

#titleLabel {
    font-size: 25px;
}

#voteGroup {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

#voteGroup > h2 {
    margin: 0 12px 0 0;
    font-size: 12px;
}

#movieGenres {
    margin: 1% 1% 1% 0;
}

#movieGenres > strong {
    margin: 0 1% 0 0;
    padding: 1%;
    font-size: 12px;
    color: aliceblue;
    background-color:brown;
}

#addMyListButton {
    padding: 10px;
    margin-top: 2%;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    transition: 500ms;
    color: aliceblue;
    background-color:brown;
    border: none;
}

#addMyListButton:hover{
    color: aliceblue;
    background-color: rgba(165, 42, 42, 0.5);
    cursor: pointer;
}