body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.containerHome {
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    max-width: 98%;
    text-align: center;
    justify-content: center;
    
}

.movieBoxHome {
    /* flex: 1 1 400px; */
    max-width: 410px;
    margin: 1%;
    border-radius: 2%;
    padding: 5px;
    background-color: rgba(133, 116, 116, 0.185);
    box-shadow: 1px 1px 20px rgba(82, 75, 75, 0.507);
}

.movieTitleHome {
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px auto;
    font-weight: bold;
    text-overflow: ellipsis;
    color: brown;
}

.movieImageHome {
    margin: 10px auto 0px auto;
    max-width: 100%;
    display: block;
}

.buttonGroupHome {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.movieButtonHome {
    padding: 20px;
    width: 50%;
    height: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    transition: 500ms;
    color: aliceblue;
    background-color: rgb(168, 160, 160);
    text-decoration: none;
}

.movieButtonHome:hover{
    color: brown;
    background-color:rgba(189, 185, 185, 0.658);
}

.addMyListButtonHome {
    padding: 20px;
    width: 50%;
    height: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    transition: 500ms;
    color: aliceblue;
    background-color:brown;
    border: none;
}

.addMyListButtonHome:hover {
    color: aliceblue;
    background-color:  rgba(165, 42, 42, 0.76);
    cursor: pointer;
}